[flake8]
extend-ignore = E203, W503
docstring-convention = numpy
select =  D102, D103, D105 

;  The explanation of the expected errors
; D100: Missing docstring in public module.
; D101: Missing docstring in public class.
; D102: Missing docstring in public method.
; D103: Missing docstring in public function.
; D104: Missing docstring in public package.
; D105: Missing docstring in magic method.
; D106: Missing docstring in public nested class.
; D107: Missing docstring in init method.
