wheel>=0.37.0
cycler>=0.10.0
entrypoints>=0.3
fysom>=2.1.6
GitPython>=3.1.24
jupyter>=1.0.0
jupytext>=1.13.0
lmfit>=1.0.3
matplotlib>=3.4.3
numpy>=1.21.3
pyqtgraph>=0.13.0
PySide2==5.15.2.1
rpyc>=5.0.1
ruamel.yaml>=0.17.16
scipy>=1.7.1
jsonschema>=4.2.1
Sphinx==7.2.6
numpydoc==1.6.0
pydata_sphinx_theme==0.15.2
myst-parser==2.0.0
